VENDOO_URL='https://example.com'
VENDOO_USERNAME='your_username'
VENDOO_PASSWORD='your_password'

VINTED_URL='https://www.vinted.com'
VINTED_USERNAME='your_username'
VINTED_PASSWORD='your_password'

SITE_TYPE='vendoo' # or 'vinted'
REFRESH_INTERVAL_MS=5000
